body{
	background-image: url("../images/concrete_seamless.png");
	//line-height: 50px;
	max-width: 1200px;
}


h1{
	background-color: #454545;
	padding: 20px;
	text-align: center;
	color : #FFFFFF;
}

.info{
	background-color: #ffe6e6;
	padding: 10px;
	font-size: 18px;
	color: #330000;
	max-width: 800px;

}

.guesstitle{
	color: #330000;
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
}
#guess-num{
	color: #330000;
	font-size: 30px;
	background-color: #d4d4aa;
	width: 300px;
	padding: 30px;
}

#win-loose{
	background-color: #aad4ca;
	color: #330000;
	font-size: 20px;
	padding: 20px;
	width: 300px;
	margin-top: 20px;

}
#winsdiv {
	padding: 20px;
	padding-top: 0;
	font-size: 20px;
}

#lossesdiv{
	padding: 20px;
	font-size: 20px;
	padding-bottom: 0;	
}

.crystal-image {
      width: 100px;
      height: 100px;
      padding: 10px;
      margin-top: 20px;
}

#crystal1{
background-color: #404040;
}

#crystal2{
background-color: #404040;
}

#crystal3{
background-color: #404040;
}

#crystal4{
background-color: #404040;
}


#scorehead{
	color: #330000;
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
	
}

#total-score{
	background-color: #669999;
	color: #330000;
	font-size: 20px;
	padding: 20px;
	width: 300px;
	/*margin-top: 20px;*/

	
}

 